.job {
  padding: 10px;
  color: #8d8383;
  font-size: 13px;
}

.job-inner {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
}

.job__name {
  font-size: 15px;
}

.job__name strong {
  color: #223048;
}

.job__day {
  padding-top: 10px;
}